<div class="nav justify-content-center mt-5 py-4">
    <b>
        <h1>
            <%= I18n.t("bjr")%>
    </b></h1>
</div>
<p class="nav justify-content-center">
    <%= I18n.t("pg")%>
</p>
<p class="nav justify-content-center mt-5">
    <button type="button" class="btn btn-light mt-9" style="border-radius: 50px; font-size: 15px; border: 3px solid; background-color: #e7e7e7; ">
        <%= link_to   I18n.t("bt"), user_session_path %></button> </p>