<footer style="margin-top: 260px; border-bottom: 4px solid; background-color: yellow;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-9"><a href="#">Ruby tutorial</div>
                <ul class="nav justify-content-end">
                    <li class="px-3"><a href="#">About</a></li>
                    <li class="px-3"><a href="">Contact</a></li>
                    <li class="px-3"><a href="">News</a></li>
                </ul>
            </div>
    </footer>